.D1{
	text-align: center;
}
.W1{
	border:0px solid;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:15px;
	border-bottom: 2px solid darkblue;
}
.W2{
	border:0px solid;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:15px;
	border-bottom: 2px solid darkblue;
}
.W3{
	border:0px solid;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:15px;
	border-bottom:2px solid darkblue;
}
h1{
	color: darkblue;
	text-align: center;
	font-family: garamond;
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: 25px;
}
h2{
	font-size: 15px;
	color: darkblue;
	text-align: center;
	font-family: garamond;
	margin-bottom: -10px;
	margin-top:-20px;
}
.bild1{
	border: 4px solid;
	border-radius:500px;
	height: 250px;
	margin-top: -125px;
	margin-bottom:-10px;
}
.bild2{
	height:35px;
	margin-top: -10px;
	border-radius: 50px;
}
.p1{
	font-size: 25px;
	color: white;
	text-align: left;
	font-family: garamond;
	margin-bottom: 5px;
	border-bottom: 2px solid darkblue;
	border-top: 2px solid darkblue;
	background-color:darkblue;
}
.p2{
	font-size: 16px;
	color: black;
	text-align: justify;
	font-family: garamond;
	margin-left: 10px;
	margin-right: 10px;
}
.p3{ <--..används för att centrera linkedin-bild..-->
	font-size: 23px;
	color: darkblue;
	text-align: center;
	font-family: garamond;
}
.p4{
	font-size: 14px;
	color: black;
	text-align: center;
	font-family: garamond;
	text-align: left;
	margin-left: 95px;
	margin-top:-5px;
	margin-right:5px;
}
.p5{
	color:white;
	font-size: 20px;
}
.p6{
	font-size: 14px;
	color: black;
	text-align: justify;
	font-family: garamond;
	margin-left:5px;
	margin-top:-5px;
	margin-right:5px;
}
.E1{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:15px;
	border-bottom: 2px solid darkblue;
}
.E2{
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 2px solid darkblue;
}
footer{
	text-align: center;
	background-color: darkblue;
	color:white;
	font-size: 15px;
	font-family: garamond;
	padding-top: 20px;
	padding-bottom: 20px;
	border:3px solid black;
}
.a1{
	color:darkblue
	font-size:23px;
	font-family: garamond;
}
.a2{
	color:white;
	font-size:15px;
	font-family: garamond;
}
header{
	background: darkblue;
	color:white;
	font-family: garamond;
	padding-left: 10px;
	font-size: 10px;
}
.bilder{
	width:80px;
	float:left;
	margin-left:5px;
	margin-top:0px;
}
.SPR{
	text-align: left;
	color:darkblue;
	font-size:18px;
	font-family: garamond;
	margin-left: 95px;
	margin-bottom:5px;
	margin-top:10px;
}
.WPR{
	text-align: left;
	color:darkblue;
	font-size:18px;
	font-family: garamond;
	margin-left: 95px;
	margin-bottom:5px;
	margin-top:10px;
}
.veolia{
	float:left;
	width:80px;
	margin-left:-80px;
	margin-top:90px;
}
.espresso{
	width:80px;
	float:left;
	margin-left:5px;
	margin-top:-5px;
}
ul{
	font-size: 14px;
	color: black;
	text-align: justify;
	font-family: garamond;
	margin-left: -15px;
	margin-top:-5px;
	margin-right:5px;
}
.show-menu {
transform: translateX(340px);
}
.nav.visible {
display: block;
}
.nav {
width: 340px;
height: 100%;
background: #cccccc;
color: #ffffff;
position: absolute;
top: 0;
left: 0;
display: none;
padding: 20px;
}
@media only screen and (min-width: 1024px) {
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 20px;
	}
	.P1{
		text-align:left;
		padding-left:106px;
	}
	.P2{
		margin-left: 106px;
		margin-right:106px;
	}
	.P4{
		text-align:justify;
	}
	ul{
		text-align:justify;
	}
	.EC{
	text-align:center;
	margin-right:106px;
	margin-left:106px;
	}
	.E1{
		width:47%;
		display:inline-block;
		border-bottom: 0px solid darkblue;
		vertical-align: top;
	}
	.E2{
		width:47%;
		text-align: justify;
		display:inline-block;
		border-bottom: 0px solid darkblue;
		vertical-align: top;
	}
	.WC{
		text-align:center;
		margin-left:106px;
		margin-right:106px;
	}
	.W1{
		display:inline-block;
		width:30%;
		border:0px;
		vertical-align:top;
	
	}
	.W2{
		display:inline-block;
		width:30%;
		border:0px;
		vertical-align:top;
	}
	.W3{
		display:inline-block;
		width:31%;
		border:0px;
		vertical-align:top;
	}
	.SU2{
	margin-top:5px;
	}
	.bilder{
		margin-top: 5px;
	}
	.espresso{
	margin-top:5px;
}